/*Reset de Estilos */
html {
  font-family: Barlow;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
/*------------------------------------------------------*/
/* CRIANDO VARIAVEIS DE CORES*/
:root {
  --cor-azul: #0033dd;
  --cor-100: #ffffff;
  --cor-200: #f5f5f5;
  --cor-300: #d9d9d9;
  --cor-400: rgba(255, 255, 255, 0.5);
  --cor-500: #b3b3b3;
  --cor-600: #383838;
  --cor-700: #2c2c2c;
  --cor-800: #202020;
  --cor-900: #1e1e1e;
  --cor-950: #000000;
}
.cor-100 {
  color: var(--cor-100);
}
.cor-200 {
  color: var(--cor-200);
}
.cor-300 {
  color: var(--cor-300);
}
.cor-400 {
  color: var(--cor-400);
}
.cor-500 {
  color: var(--cor-500);
}
.cor-600 {
  color: var(--cor-600);
}
.cor-700 {
  color: var(--cor-700);
}
.cor-800 {
  color: var(--cor-800);
}
.cor-900 {
  color: var(--cor-900);
}
.cor-950 {
  color: var(--cor-950);
}
.cor-azul {
  color: var(--cor-azul);
}

/*--------------------------------*/
body {
  overflow-x: hidden;
}
.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.header-bg {
  background-color: var(--cor-azul);
}
.header {
  display: flex;
  padding: 30px 20px 16px 20px;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu-lista {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-lista a {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 3px solid transparent;
}
.menu-lista a:hover {
  border-bottom: 3px solid var(--cor-300);
}

.menu-lista li:nth-child(6) {
  background-color: var(--cor-300);
  padding: 16px;
  color: var(--cor-azul);
  white-space: nowrap;
}
.menu-lista li:nth-child(6) a:hover {
  border-color: #0033dd;
}
.menu-lista li:nth-child(6) a {
  font-weight: 700;
  font-size: 16px;
}

.bg-1 img {
  vertical-align: middle;
  position: relative;
  display: inline-block;
}

.bg-1 {
  background-color: #000000;
  background-position: center 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.bg-1 h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  top: 25%;

  z-index: 1;
}

.bg-1 a {
  display: block;
  padding: 8px;
  text-align: center;
  background-color: var(--cor-azul);
  text-transform: uppercase;
  font-weight: 700;
  top: 50%;
}

#retangulos {
  top: 75%;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#myVideo {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background:#000000;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  margin-top: 10px;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  padding: 8px;
  text-align: center;
  background-color: var(--cor-azul);
  text-transform: uppercase;
  font-weight: 700;
  top: 50%;
  color:#f1f1f1;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}



.bg-2 {
  background-color: var(--cor-800);
}
.viagem h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}
.viagem h1 {
  font-size: 40px;
  font-weight: 500;
}
.viagem h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 50px;
  position: relative;
}
.viagem p {
  font-size: 16px;
  font-weight: 500;
}
.viagem {
  display: flex;
  height: 400px;
}
.viagem-conteudo {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 60px;
  gap: 20px;
  max-width: 460px;
}
.viagem-conteudo h2::before,
.assento-conteudo h2::before {
  content: "";
  width: 20px;
  height: 20px;
  left: -30px;
  background-image: url("../img/icon_player.svg");
  position: absolute;
}
.viagem-img {
  flex: 1;
  position: relative;
  margin-right: calc(-50vw + 50%);
  overflow: hidden;
}
.viagem-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.assento-img {
  flex: 1;
  position: relative;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}
.assento-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.assento-conteudo {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 60px;
  gap: 20px;
  max-width: 460px;
}


.lista h1 {
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 20px;
}
.lista-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.lista-item {
  width: 400px;
  background-color: var(--cor-azul);
  display: flex;
  flex-direction: column;
}
.lista-item h2 {
  font-size: 36px;
  font-weight: 600;
}
.lista-item p {
  font-size: 16px;
  flex-grow: 1;
}
.lista-item-conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 30px;
  align-items: start;
  justify-content: space-between;
  flex-grow: 1;
}
.lista-item a {
  text-transform: uppercase;
  padding: 14px 26px;
  background-color: var(--cor-300);
  color: var(--cor-azul);
  font-weight: 700;
  margin-top: 40px;
}
.footer {
  background-color: var(--cor-800);
  margin: 0px;
}
.footer-conteudo {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.footer-logo h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
}
.footer-logo {
  justify-content: center;
}
.footer-logo a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--cor-300);
  white-space: nowrap;
}
.footer-logo a:hover {
  border-color: var(--cor-300);
}

.footer-nav,
.footer-logo,
.footer-form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.footer-nav,
.footer-logo {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-nav {
  border-left: 2px solid #747272;
}
.footer-nav a {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}
.footer-nav a:hover {
  border-color: var(--cor-300);
}
.footer-form {
  background-color: var(--cor-600);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.footer-form h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--cor-900);
}
form {
  padding: 24px;
  background-color: var(--cor-400);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
}
input::placeholder,
textarea::placeholder {
  color: var(--cor-500);
}
input[type="submit"] {
  width: 100%;
  background-color: var(--cor-700);
  color: var(--cor-200);
  padding: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.hamburguer {
  display: none;
}

/* CSS Responsivo */

@media (max-width: 750px) {
  .header {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .menu-lista {
    display: none;
  }

  .responsivo {
    display: block;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
  }

  .menu-lista a {
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: block;
  }

  a.hamburguer {
    display: block;
    align-items: start;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    margin-top: 25px;
  }

  .bg-1 h1 {
    font-size: 24px;
  }

  .footer-conteudo {
    flex-direction: column;
    gap: 20px;
  }
  .footer-nav,
  .footer-logo {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .footer-logo img {
    max-width: 50%;
  }
  .footer-form {
    width: 100%;
    padding: 0;
  }

}

  @media (max-width: 700px) {
  .assento-img,
  .viagem-img {
    display: none;
  }
  .assento-conteudo {
    padding-left: 0px;
  }
  .assento-conteudo h3 {
    margin-top: 30px;
  }
  .viagem-conteudo {
    max-height: 100%;
  }
  .viagem {
    flex-direction: column;
  }
}
